<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_index.css') }}">
    <title>Wedding Invitation</title>
</head>
<body>
    <a class="login-link" href="{{ url_for('login') }}">Login</a>
    <div class="index-container">
        <h1>Online Invitation for S and S Wedding</h1>
        <p>Date: 21/6/25</p>
        <p>Venue: Newcastle County Down</p>
        <p>Time: 1pm</p>
    </div>
</body>
</html>
